<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<script src="./public/js/ejs.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src= "https://code.jquery.com/jquery-3.3.1.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
<link rel="stylesheet" href="./public/css/style.css">
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
<script src="http://malsup.github.com/jquery.form.js"></script> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- content editable script begins here   -->
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
 function addImage(){
var imgPath = document.getElementById("myFile");
 document.getElementById("textBox").focus();
                var image= '<img src="serverImage/me.jpg" id="userImg">'//'serverImage/me.jpg'//imgPath;
				image.id="userImage";
				image.height='100';
   image.width='50px';
                if (document.selection) {//for ie
                    document.execCommand('insertHtml',false,image);
                   // document.execCommand('insertImage',false,image);
                } else {
                    document.execCommand('insertHtml',false,image);
					//document.execCommand('insertImage',false,image);
                }
				var listId = window.getSelection().focusNode.parentNode;
				listId.style.height='100px';
                return false;
            }

function insertHTML(img) {
  var id = "rand" + Math.random();
  var doc = document.getElementById("textBox");
  doc = doc.document ? doc.document : doc.contentWindow.document;
  img = "<img src='" + img + "' id=" + id + ">";

  if(document.all) {
    var range = doc.selection.createRange();
    range.pasteHTML(img);
    range.collapse(false);
    range.select();
  } else {
    doc.execCommand("insertHTML", false, img);
  }
  return doc.getElementById(id);
};
var oDoc, sDefTxt;
var chk=0;
function initDoc() {
window.name = $('#textBox').html();
  oDoc = $('#textBox');
  $('#textBox').focus();
  
  sDefTxt = oDoc.innerHTML;
  
  if (document.compForm.switchMode.checked) { var oContent = document.createTextNode(oDoc.innerHTML);
    oDoc.innerHTML = "";
    var oPre = document.createElement("pre");
    oDoc.contentEditable = false;
    oPre.id = "sourceText";
    oPre.contentEditable = true;
    oPre.appendChild(oContent);
    oDoc.appendChild(oPre);
    document.execCommand("defaultParagraphSeparator", false, "div"); oDoc.focus(); }
}
function showSaved()
{
alert(window.name);
}
function formatDoc(sCmd, sValue) {
$('#textBox').focus();
  document.execCommand(sCmd, false, sValue);  
}

function codeIt()
{
oDoc.focus();
if(chk==0)
{
document.execCommand('insertHTML', true, '<div id="codeBlock"></div>');
codeBlock.document.execCommand('backcolor',false,'#C7FAC7')
chk=1;
}
else{
chk=0;
return false;
}
}

function setDocMode(bToSource) {
  var oContent;
  if (bToSource) {
    oContent = document.createTextNode(oDoc.innerHTML);
    oDoc.innerHTML = "";
    var oPre = document.createElement("pre");
    oDoc.contentEditable = false;
    oPre.id = "sourceText";
    oPre.contentEditable = true;
    oPre.appendChild(oContent);
    oDoc.appendChild(oPre);
    document.execCommand("defaultParagraphSeparator", false, "div");
  } else {
    if (document.all) {
      oDoc.innerHTML = oDoc.innerText;
    } else {
      oContent = document.createRange();
      oContent.selectNodeContents(oDoc.firstChild);
      oDoc.innerHTML = oContent.toString();
    }
    oDoc.contentEditable = true;
  }
  oDoc.focus();
}


function SaveThisBlog()
{
const headData = $("#blogHead").val();
      const bodyData = $('#textBox').html();
	  $.post("http://localhost:3000/saveblog", { headData:headData,bodyData:bodyData}, (data, status) => {
        if (status === 'success' )
		{
		console.log(data);
          alert('Successfully Saved!');
		  }
		  
        else
		{
		console.log(data.name);
          alert("Save failure!");
		  }
      });
}


</script>
<!-- content editable script ends here   -->
<script>
	
		// Setting the logo and tag for the website
		function onloading(){
			document.getElementById('tagOne').innerHTML = '&lt;';
			document.getElementById('tagTwo').innerHTML = 'Code';
			document.getElementById('tagThree').innerHTML = ':';
			document.getElementById('tagFour').innerHTML = '<i class="fa fa-code-fork"></i> PlaY';
			document.getElementById('tagFive').innerHTML = '/&gt;';
		}	

		let statlist = new Set();
		// condition to show modal or not
		$(document).ready(function(){
		var userData =<%-JSON.stringify(userdetail)%>

	 	console.log(userData.ContributeIn);
		if( (userData.profileImage)!='./public/img/user_logo.png' 
			&& (userData.ContributeIn!=null || userData.LearnIn!=null) )	
			{
				console.log('first if');
				$("#id01").hide();
			}

		else if( (userData.profileImage)=='./public/img/user_logo.png' 
			&& (userData.ContributeIn=='' || userData.LearnIn=='') )
			{
				console.log('second if');
				$("#getPicture").show();
				$("#getStat").hide();
			}

		else if((userData.ContributeIn==null || userData.LearnIn==null))
		{
			if((userData.profileImage)!='./public/img/user_logo.png'){
				$("#getPicture").hide();
				$("#getStat").show();
				console.log('third if');
			}
		}
		

		// MOdal button click to get Stats
		$("#ContinueToStepFinal").click(function(){
				console.log('submit step');
				
				var list = Array.from(statlist);
				console.log(list);
				 $.post("http://localhost:3000/dashboard", { ContributeIn: list }, (data, status) => {
				 	console.log(statlist);
				 	console.log('***************'+status);
	                if(status === 'success' )
	                  {  
	                  
	                  }
	                else{
	              	console.log('inside else');
	                }
	                });
					
					$("#id01").hide();
					console.log('on main page');
		});
		
		
		// Button click on modal for step two
		$("#ContinueToStepTwo").click(function(){
					$("#getPicture").hide();
					$("#getStat").show();	
					console.log('inside step one');
		});

		// Button click on modal for step one 
		$("#ContinueToStepOne").click(function(){
					$("#getPicture").show();
					$("#getStat").hide();	
					console.log('inside step two');
		});

		// Signout request
		$("#signoutrequest").click(function(){
     
	          $.post("http://localhost:3000/logout",  (data, status) => {
	                if(status === 'success' )
	                  {  
	                    window.location.href = '/';
	                  }
	                });
	      });


		// Profile pic upload
		$('#uploadForm').submit(function() {
		$("#status").empty().text("File is uploading...");
		$(this).ajaxSubmit({
		            error: function(xhr) {
		        		console.log('Error: ' + xhr.status);
		            },
		            success: function(response) {
				        $("#status").empty().text(response);
				                //console.log(response);
				                $("#profilepic").attr("src",'<%= userdetail.profileImage %>');
				                $("#homepic").attr("src",'<%= userdetail.profileImage %>');
				             }
				    });
		        	//Very important line, it disable the page refresh.
		   		 return false;
		    }); 
			
			// Getting the blog data 
			$('#blogsetup').click(function(){
			console.log('inside blog');
	          $.post("http://localhost:3000/blog",  (data, status) => {
	                if(status === 'success' )
	                  {  
	                    window.location.href = '/blog';
	                  }
	                });
	      });

			// Clicking on blog request and route
			$(".blogs").bind('click', $.proxy(function(event) {
				console.log($(event.target));
    		var blogID = $(event.target).attr('id');
    		console.log(blogID);
    		$.post("http://localhost:3000/blogdetail/"+blogID, { blogID: blogID}, (data, status) => {
	          		console.log('status >>>>>>>>>>>>>>'+status);
	                if(status === 'success' )
	                  {  
	                    window.location.href = '/blogdetail/'+blogID;
	                  }
	                });
    		}));

    		// Clicking on like request and route
			$(".like").bind('click', $.proxy(function(event) {
				console.log($(event.target));
    		var blogID = $(event.target).attr('id');
    		console.log(blogID);
    		$.post("http://localhost:3000/blogdetail/"+blogID, { blogID: blogID}, (data, status) => {
	          		console.log('status >>>>>>>>>>>>>>'+status);
	                if(status === 'success' )
	                  {  
	                  // window.location.href = '/blogdetail/'+blogID;
	                  }
	                });
    		}));


    		// Clicking on blog request and route
			
			$("#Salesforce").click(function(){
					if(!statlist.has('Salesforce'))
					{	statlist.add('Salesforce');
						$("#Salesforce").css({"color": "white","background-color": "#ff6347","border": "1px solid #ff6347"});
					}
					else{
						statlist.delete('Salesforce');
						$("#Salesforce").css({"color": "black","background-color": "white","border": "1px solid lightgray"});
					}});
			$("#Java").click(function(){
					if(!statlist.has('Java'))
					{	statlist.add('Java');
						$("#Java").css({"color": "white","background-color": "#ff6347","border": "1px solid #ff6347"});
					}
					else{
						statlist.delete('Java');
						$("#Java").css({"color": "black","background-color": "white","border": "1px solid lightgray"});
					}});
			$("#C").click(function(){
					if(!statlist.has('C'))
					{	statlist.add('C');
						$("#C").css({"color": "white","background-color": "#ff6347","border": "1px solid #ff6347"});
					}
					else{
						statlist.delete('C');
						$("#C").css({"color": "black","background-color": "white","border": "1px solid lightgray"});
					}});
			$("#MYSQL").click(function(){
					if(!statlist.has('MYSQL'))
					{	statlist.add('MYSQL');
						$("#MYSQL").css({"color": "white","background-color": "#ff6347","border": "1px solid #ff6347"});
					}
					else{
						statlist.delete('MYSQL');
						$("#MYSQL").css({"color": "black","background-color": "white","border": "1px solid lightgray"});
					}});
			$("#Express").click(function(){
				if(!statlist.has('Express'))
					{	statlist.add('Express');
						$("#Express").css({"color": "white","background-color": "#ff6347","border": "1px solid #ff6347"});
					}
					else{
						statlist.delete('Express');
						$("#Express").css({"color": "black","background-color": "white","border": "1px solid lightgray"});
					}});
			$("#Android").click(function(){
				if(!statlist.has('Android'))
					{	statlist.add('Android');
						$("#Android").css({"color": "white","background-color": "#ff6347","border": "1px solid #ff6347"});
					}
					else{
						statlist.delete('Android');
						$("#Android").css({"color": "black","background-color": "white","border": "1px solid lightgray"});
					}});
			$("#Cplusplus").click(function(){
				if(!statlist.has('C++'))
					{	statlist.add('C++');
						$("#Cplusplus").css({"color": "white","background-color": "#ff6347","border": "1px solid #ff6347"});
					}
					else{
						statlist.delete('C++');
						$("#Cplusplus").css({"color": "black","background-color": "white","border": "1px solid lightgray"});
					} });
			$("#Nodejs").click(function(){
				if(!statlist.has('Nodejs'))
					{	statlist.add('Nodejs');
						$("#Nodejs").css({"color": "white","background-color": "#ff6347","border": "1px solid #ff6347"});
					}
					else{
						statlist.delete('Nodejs');
						$("#Nodejs").css({"color": "black","background-color": "white","border": "1px solid lightgray"});
					}});
			$("#Mongodb").click(function(){
				if(!statlist.has('Mongodb'))
					{	statlist.add('Mongodb');
						$("#Mongodb").css({"color": "white","background-color": "#ff6347","border": "1px solid #ff6347"});
					}
					else{
						statlist.delete('Mongodb');
						$("#Mongodb").css({"color": "black","background-color": "white","border": "1px solid lightgray"});
					}});

    });	
</script>
<style type="text/css" name="content ediatble style...most welcome to change">
userImage
{
height:100px;
}

codeSection
{
background-color:#C7FAC7;
}

#userImg{
display:block;
width:200px;
height:150px;
margin-left: auto;
    margin-right: auto;
}
#toolBar1 select { font-size:10px; }
#textBox {
font-size: 17px;
  width: 50px;
  min-height: 150px;
 border:1px solid #C4C8C4;
  word-break: break-word; 
  border-radius: 0px;
  
  outline:none;
}
input:focus,
select:focus,
textarea:focus,
div:focus
button:focus {
    outline: none;
}
#editMode label { cursor: pointer; }

input[type="text"]
{
    font-size:24px;
}

#codeBlock
{
width:90%;
margin-left:5%;
margin-left:5%;
background-color:#EAEAEA;
height:20px;
 word-break: break-all;

}

.button {
    background-color: MediumSeaGreen; /* Green */
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
	border-radius: 2px;
}
.Followbutton{
	background-color: white; /* Green */
    border: 1px solid grey;
    color: grey;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
	border-radius: 2px;
}
img{
cursor:grab;
}
button {border-radius: 4px;}
.toolBar2
{
 border-radius: 0px;
 height:35px;
 background-color: white;
}

#container {
    display: flex;
    justify-content: center;
}

select{
background-color:#EBF1EB;
font-family:Comic Sans MS;

}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
	
		ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;

		}

		li {
			float: left;
		}

		li a {
			display: block;
			color: #c9c9c9;
			text-align: center;
			padding: 10px 15px;
			text-decoration: none;
			border-radius: 2px;
			
		}

		li a:hover {
			background-color:  #ff6347	;
			color:white;
		}
		
		/*box outline*/
		#blogsetup:hover {
			outline : 1px solid 	#99ccff;
		}
		#modulesetup:hover {
			outline : 1px solid 	#99ccff;
		}
		
		.statCard{
			color: black;
			background-color: white;
			border: 1px solid lightgray;
		}

		.statCard:hover{
			color: white;
			background-color: #ff6347;
			border: 1px solid #ff6347;
		}
</style>
</head>

<body class="w3-small" onload="onloading()" style="font-family: "Source Sans Pro", Helvetica, sans-serif">

<!-- hover Modal -->

<div id="id01" class="w3-modal" style="display:block;">
<div class="w3-modal-content w3-round" style="background-color: white;">
  <div class="w3-center">
	 <div class="w3-round" id="getPicture">
			<div class="" style="padding:0px; margin:0px;">

			<!-- skip button page 1 -->
        	<span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
			<div class="w3-cell w3-display-container">
				<!-- Image Page 1 -->
				<img src="./public/img/Picture1.png" height="40%" class="w3-round"/>
				 <div class="w3-display-left w3-xlarge w3-margin-left">
						<p class="w3-large"  style="font-size: 24px;padding-left:10px;">
						<h2 class="w3-xxlarge" style="color:lightgray">GET READY TO </h2> 
						<h2 class="w3-xxlarge" style="color:#1e90ff">Code.</h2> 
						<h2 class="w3-xxlarge" style="color:#3cb371">Blog.</h2> 
						<h2 class="w3-xxlarge" style="color:#ff6347">Play.</h2> 
						</p>
				</div>
				</div>

				<!-- Page 1 -->
				<div class="w3-cell w3-margin w3-padding w3-cell-top" style="width:100%;">
					<div class="w3-round" id="getPicture">
						<div class="w3-container w3-center">
							<p class="w3-xlarge" style="color:#20bf6b;font-weight:100;">STEP 1 : Update Profile Image</p>
						</div>
						<hr/>
						<div class="w3-container w3-center">
							<img class="w3-circle"	src="<%= userdetail.profileImage %>" style=" box-shadow: 1px 1px 1px 1px lightgray;" id="profilepic" width="20%"/>
						</div>
						<div class="fileUpload btn btn-primary w3-container w3-center">
						  <p>
								 <form id="uploadForm" enctype="multipart/form-data" action="/photo" method="post">
								  <input type="file" name="userPhoto" />
								  <input type="submit" value="Upload" id="uploadBtn" name="submit" style="">
								  <span id = "status"></span>
								</form>
							</p>
						</div>
						<hr/>
						<div class="w3-container">
						<div>
							<!-- CONTINUE BUTTON -->
							<div class="w3-right-align w3-padding">
								<button class="button button_active" id="ContinueToStepTwo">Continue &nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button> 
							</div>
						</div>			
					</div>
					</div> 
				</div>
      		</div>
		</div> 

		<!--  GET STAT PAGE -->
		<div class=" w3-round" id="getStat" style="display:none;background-color:white;">
			<div class="" style="padding:0px; margin:0px;">
			<!--  get STAT PAGE SKIP BUTTON -->
        	<span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
			<!-- GET STAT PAGE IMAGE -->
			<div class="w3-cell w3-display-container">
				<img src="./public/img/Picture1.png" height="40%" class="w3-round"/>
				 <div class="w3-display-left w3-xlarge w3-margin-left">
						<p class="w3-large"  style="font-size: 24px;padding-left:10px;">
						<h2 class="w3-xxlarge" style="color:lightgray">GET READY TO</h2> 
						<h2 class="w3-xxlarge" style="color:#1e90ff">Code.</h2> 
						<h2 class="w3-xxlarge" style="color:#3cb371">Blog.</h2> 
						<h2 class="w3-xxlarge" style="color:#ff6347">Play.</h2> 
						</p>
				 </div>
			</div>

			<!-- GET STAT PAGE -->
			<div class="w3-cell w3-margin w3-padding w3-cell-top" style="width:100%;">
					<div class="w3-round" id="getPicture">
						<div class="w3-container w3-center">
							<p class="w3-xlarge" style="color:#20bf6b;font-weight:100;">STEP 2 : Customize your feed for ?</p>
						</div>
						<hr/>
						<div class="w3-container w3-center" style="height:200px;overflow : auto;">
							<div class="w3-row w3-margin-top w3-margin-bottom">
							  <div class="w3-third w3-container">
								<div id="Salesforce" class="statCard statCardjs w3-round w3-padding w3-center">
									<p >SALESFORCE</p>
								  </div>
							  </div>
							  <div class="w3-third w3-container">
								<div id="Java" class="statCard statCardjs w3-round  w3-padding  w3-center">
									<p>JAVA</p>
								  </div>
							  </div>
							  <div class="w3-third w3-container">
								<div id="C" class="statCard statCardjs w3-round w3-padding  w3-center">
									<p>C</p>
								  </div>
							  </div>
							</div>
							<div class="w3-row w3-margin-top w3-margin-bottom">
							  <div class="w3-third w3-container">
								<div id="MYSQL" class="statCard statCardjs w3-round w3-padding w3-center">
									<p>MYSQL</p>
								  </div>
							  </div>
							  <div class="w3-third w3-container">
								<div id="Android" class="statCard statCardjs w3-round  w3-padding  w3-center">
									<p>ANDROID</p>
								  </div>
							  </div>
							  <div class="w3-third w3-container">
								<div id="Express" class="statCard statCardjs w3-round w3-padding  w3-center">
									<p>EXPRESS</p>
								  </div>
							  </div>
							</div>
							<div class="w3-row w3-margin-top w3-margin-bottom">
							  <div class="w3-third w3-container">
								<div id="Cplusplus" class="statCard statCardjs w3-round w3-padding w3-center">
									<p>C++</p>
								  </div>
							  </div>
							  <div class="w3-third w3-container">
								<div id="Nodejs" class="statCard statCardjs w3-round w3-padding w3-center" >
									<p>NODE JS</p>
								  </div>
							  </div>
							  <div class="w3-third w3-container">
								<div id="Mongodb" class="statCard statCardjs w3-round w3-padding w3-center">
									<p>MONGO DB</p>
								  </div>
							  </div>
							</div>

						</div>
						<hr/>
						<div class="w3-container">
						<div>
							<div class="w3-right-align w3-padding">
								<button class="button button_active" id="ContinueToStepFinal">Submit &nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button> 
							</div>
						</div>			
					</div>
					</div> 
			</div>
      	</div>
		</div> 
		</div>
	</div>	  
	</div>
  </div>


<!-- Main Page -->
<!-- Header start -->
<div class="w3-container w3-top " style="background-color:#24292e;">		
	<div class="w3-row ">
		
	      <div class="w3-col" style="width:300px;">
	        <p class="w3-large w3-margin"  style="font-size: 20px;">
	        <spam style="color: #C9C9C9; font-size: 22px;margin:0px;padding:0px;" id="tagOne"></spam>
	        <spam style="color: #4a90e2; font-size: 22px;margin:0px;padding:0px;" id="tagTwo"></spam>
	        <spam style="color: #C9C9C9; font-size: 22px;margin:0px;padding:0px;" id="tagThree"></spam>
	        <spam style="color: #0bff01; font-size: 22px;margin:0px;padding:0px;" id="tagFour"></spam>
	        <spam style="color: #C9C9C9; font-size: 22px;margin:0px;padding:0px;" id="tagFive"></spam>
	        </p>
	      </div>
	     
	      <div class="w3-rest">
	      	<div class="w3-container w3-center w3-margin-top" style="margin-left: 8%;">
	      		<div class="w3-text-black " style="background-color: #24292e;">
					<div style="font-size: 14px; ">
						<ul>
					  		<li><b><a class="active" href="#home"><i class="fa fa-code"></i> &nbsp;Blog</a></b></li>
					  		<li><b><a href="#news"><i class="fa fa-check"></i> &nbsp;Practise</a></b></li>
					  		<li><b><a href="#contact"><i class="fa fa-code-fork"></i> &nbsp;Implement</a></b></li>
					  		<li><b><a href="#about"><i class="fa fa-life-bouy"></i> &nbsp;Contribute</a></b></li>
					  		<li><b><a href="#about"><i class="fa fa-magic"></i> &nbsp;Fun</a></b></li>
						</ul>
					</div>
				</div>
	      	</div>
	      </div>
	</div>
</div>
<!-- Header Over -->
<div class="" style="background-color:#f9f9f9;margin-top:55px;">
	<div class="w3-row" >
		<div class="w3-col w3-cell w3-round-large w3-margin" style="border: 1px solid #e0e0e0; width:15%;background-color:white;position:fixed;top:80px;left:20px;border:2px solid #fff;">
			<div class="w3-col" style="border-bottom: 1px solid lightgrey;padding-bottom: 20px;">
			<div class="w3-container" style="border-radius: 5px 5px 0px 0px ; background-size: 100% 100%;background-image:url('https://img00.deviantart.net/418a/i/2012/218/2/6/color_blend_by_varunmashru_by_varunmashru-d5a3s6m.png');height: 95px;">

			</div>
			<div class="w3-center" style="margin:-95px auto 20px 0px;">
		
				<img class="w3-circle w3-margin-top " src='<%= userdetail.profileImage %>' id="homepic" width="75%" style="border:2px solid #fff;box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15),0 1.5px 3px 0 rgba(0,0,0,.15);"/></div>
			 	<div class=" w3-center"> 
		          <p class="w3-large" style="padding-bottom:0px;margin-bottom:0px; color:black">
		                <b><%= userdetail.FirstName %> <%= userdetail.LastName%></b> 
		          </p>
		          		Code enthusiast
				  <hr/>
		           		24 contributions
		          <br/> 
		           		2 blogs
		           		
		      	</div>
			 		
			</div>

			<div class="w3-col w3-container w3-padding w3-center-align" id="blogsetup" style="margin-top: 2px;background-color:#fafafa;margin-bottom: 2px;border:1px solid #d1d1d1">
				
				 <div class="w3-row">
					  <div class="w3-col"  style="width:40px">
					   <i class="material-icons"> settings_ethernet </i>
					  </div>
					  <div class="w3-rest">
					    <div style="color:#2c2e43;font-size: 16px;">  Blog Setup</div>
					  </div>
					</div>
			</div>
			
			<div class="w3-col w3-container w3-padding w3-center-align" id="modulesetup" style="background-color:#fafafa;border:1px solid #d1d1d1">

				 <div class="w3-row">
					  <div class="w3-col"  style="width:40px">
					  <i class="material-icons"> view_module </i>
					  </div>
					  <div class="w3-rest">
					    <div style="color:#2c2e43;font-size: 16px;">  Module Setup</div>
					  </div>
					</div>
				
			</div>
			
		</div>
		<div class="w3-col w3-round w3-cell w3-container w3-margin" style="top:25px; width:53%;position:relative;left:18%;">
			<div class="w3-row">
			 <div id="myModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				       <div style="background-color:#6CCF6C  ;width:50%;border-radius:4px;color:white;text-align: center;margin-left:25%;"><big>Choose your file</big></div>
				      </div>
				      <div class="modal-body">
				       
				    <input id="myFile" type="file"/>
					</label>
					   
				      </div>
				      <div class="modal-footer">
					  <button style="margin-left:20%;background-color:#6CCF6C  ;color:white;" class=" btn  btn-default" type="button" onclick="addImage()" data-dismiss="modal">Upload</button>
				        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				      </div>
				    </div>

				  </div>
				</div>
				<input type="hidden" name="myDoc" style="width:100%;">
				<div id="toolBar2" class="toolBar2" style="border:1px solid #e0e0e0;width:100%;">
				<a>
					<img style="height:30px;" class="intLink" title="Bold" onclick="formatDoc('bold');" src="data:image/gif;base64,R0lGODlhFgAWAID/AMDAwAAAACH5BAEAAAAALAAAAAAWABYAQAInhI+pa+H9mJy0LhdgtrxzDG5WGFVk6aXqyk6Y9kXvKKNuLbb6zgMFADs=" />
				</a>
				<img style="height:30px;" class="intLink" title="Italic" onclick="formatDoc('italic');" src="data:image/gif;base64,R0lGODlhFgAWAKEDAAAAAF9vj5WIbf///yH5BAEAAAMALAAAAAAWABYAAAIjnI+py+0Po5x0gXvruEKHrF2BB1YiCWgbMFIYpsbyTNd2UwAAOw==" />
				<img style="height:30px;" class="intLink" title="Underline" onclick="formatDoc('underline');" src="data:image/gif;base64,R0lGODlhFgAWAKECAAAAAF9vj////////yH5BAEAAAIALAAAAAAWABYAAAIrlI+py+0Po5zUgAsEzvEeL4Ea15EiJJ5PSqJmuwKBEKgxVuXWtun+DwxCCgA7" />
				<img style="height:30px;" class="intLink" title="Numbered list" onclick="formatDoc('insertorderedlist');" src="data:image/gif;base64,R0lGODlhFgAWAMIGAAAAADljwliE35GjuaezxtHa7P///////yH5BAEAAAcALAAAAAAWABYAAAM2eLrc/jDKSespwjoRFvggCBUBoTFBeq6QIAysQnRHaEOzyaZ07Lu9lUBnC0UGQU1K52s6n5oEADs=" />
				<img style="height:30px;" class="intLink" title="Dotted list" onclick="formatDoc('insertunorderedlist');" src="data:image/gif;base64,R0lGODlhFgAWAMIGAAAAAB1ChF9vj1iE33mOrqezxv///////yH5BAEAAAcALAAAAAAWABYAAAMyeLrc/jDKSesppNhGRlBAKIZRERBbqm6YtnbfMY7lud64UwiuKnigGQliQuWOyKQykgAAOw==" />
				<img style="height:30px;" class="intLink" title="Quote" onclick="formatDoc('formatblock','blockquote');" src="data:image/gif;base64,R0lGODlhFgAWAIQXAC1NqjFRjkBgmT9nqUJnsk9xrFJ7u2R9qmKBt1iGzHmOrm6Sz4OXw3Odz4Cl2ZSnw6KxyqO306K63bG70bTB0rDI3bvI4P///////////////////////////////////yH5BAEKAB8ALAAAAAAWABYAAAVP4CeOZGmeaKqubEs2CekkErvEI1zZuOgYFlakECEZFi0GgTGKEBATFmJAVXweVOoKEQgABB9IQDCmrLpjETrQQlhHjINrTq/b7/i8fp8PAQA7" />
				<img style="height:30px;" class="intLink" title="Hyperlink" onclick="var sLnk=prompt('Write the URL here','http:\/\/');if(sLnk&&sLnk!=''&&sLnk!='http://'){formatDoc('createlink',sLnk)}" src="data:image/gif;base64,R0lGODlhFgAWAOMKAB1ChDRLY19vj3mOrpGjuaezxrCztb/I19Ha7Pv8/f///////////////////////yH5BAEKAA8ALAAAAAAWABYAAARY8MlJq7046827/2BYIQVhHg9pEgVGIklyDEUBy/RlE4FQF4dCj2AQXAiJQDCWQCAEBwIioEMQBgSAFhDAGghGi9XgHAhMNoSZgJkJei33UESv2+/4vD4TAQA7" />
				<img style="height:30px;" class="intLink" title="Code" onclick="codeIt()" src="https://cdn0.iconfinder.com/data/icons/code/100/bold-code-02-512.png" />
				<img style="height:24px;" class="intLink" title="Upload Image" data-toggle="modal" data-target="#myModal" src="https://cdn1.iconfinder.com/data/icons/social-17/48/photos2-512.png" />
				<button class="button" type="button" onclick="SaveThisBlog()" style="margin-left: 47%;">Submit</button>

				</select>
				</div>

				<div id="textBox" contenteditable="true" style="width:100%;background-color: white;padding: 10px;border: 1px solid #e0e0e0"></div>
				
				<!-- My contentediatble ends here  -->			
			
			</div>
			
			<div class="">
					<div class="">
					<% for (var key in blogdetail) { %>
						
						<div class="w3-margin-top blogs"  id="<%= blogdetail[key].id %>" style="border: 1px solid #e0e0e0; box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15),0 1.5px 3px 0 rgba(0,0,0,.15);">

							<div class="w3-white w3-large w3-padding w3-text-blue blogs" style="overflow: hidden;"  id="<%= blogdetail[key].id %>">
					    	<b><%= blogdetail[key].BlogHead %></b>
							</div>
							
							<div class="w3-white w3-padding blogs w3-normal"  id="<%= blogdetail[key].id %>" style="margin-bottom: 0px;">
							<%= blogdetail[key].BlogBody %>
							<hr style="margin-top: 2px;margin-bottom: 2px;" />
							</div>
						
							<!--<div class="w3-white w3-padding blogs"  id="<%= blogdetail[key].id %>">
							<%= blogdetail[key].CreatedBy %> <%= blogdetail[key].CreatedDate %> 
							</div> -->
							<div class="w3-white w3-small w3-padding blogs"  id="<%= blogdetail[key].id %>" style="padding-top:0px; margin-top: 0px;">
								<div class="w3-row">
									<div class="w3-col w3-left" style="width:60%;">
							 			<img class="w3-circle" src="./public/Images/skms@gmail.com.jpg" width="10%" /> &nbsp;
							 		 	<span>Suraj Thakur</span>
							 		</div>
							 		<div class="w3-rest w3-right">
							 			<div class="w3-right-align" style="color: #747474"> 10 min ago</div> 
							 		</div>
							 	</div>
							</div>

							<div class="w3-white w3-padding w3-large blogs" style="margin-bottom: 0px;">
							
								
								<div class="w3-row w3-center" style="margin-left: 20px;margin-right: 20px;color:#747474">
									  <div id="<%= blogdetail[key].id %>" class="w3-quarter w3-container like" style="font-size: 13px;">
									    <p id="<%= blogdetail[key].id %>" class="like">
									    	<b  id="<%= blogdetail[key].id %>" class="like">
									    		<i  id="<%= blogdetail[key].id %>" class="fa fa-thumbs-o-up like"></i> 
									    		&nbsp; Like
									    	</b>
									    </p> 
									  </div>
									    <div id="<%= blogdetail[key].id %>" class="w3-quarter w3-container blogs" style="font-size: 13px;">
									    <p id="<%= blogdetail[key].id %>" class="blogs">
									    	<b  id="<%= blogdetail[key].id %>" class="blogs">
									    		<i  id="<%= blogdetail[key].id %>" class="fa fa-code-fork blogs"></i> 
									    		&nbsp; Blog It
									    	</b>
									    </p> 
									  </div>
									   <div id="<%= blogdetail[key].id %>" class="w3-quarter w3-container blogs" style="font-size: 13px;">
									    <p id="<%= blogdetail[key].id %>" class="blogs">
									    	<b  id="<%= blogdetail[key].id %>" class="blogs">
									    		<i  id="<%= blogdetail[key].id %>" class="fa fa-comment-o blogs"></i> 
									    		&nbsp; Comment
									    	</b>
									    </p> 
									  </div>
									   <div id="<%= blogdetail[key].id %>" class="w3-quarter w3-container blogs" style="font-size: 13px;">
									    <p id="<%= blogdetail[key].id %>" class="blogs">
									    	<b  id="<%= blogdetail[key].id %>" class="blogs">
									    		<i  id="<%= blogdetail[key].id %>" class="fa fa-send-o blogs"></i> 
									    		&nbsp; Share
									    	</b>
									    </p> 
									  </div>
									</div>
							</div>
						
						
						</div>
						
					<% } %>
				</div>
			</div>
		</div>
		<div class="w3-col w3-cell w3-margin" style="width:24%; position: fixed;top :80px;right:20px; " >
			<div class="w3-row w3-margin-bottom w3-padding" style="border: 1px solid #e0e0e0; background-color: white;">
				<div>
					<div class="w3-col"  style="width:80%">
					   	<p style="font-size:15px;color:#3cb371;color:DodgerBlue"><b>Top 3 Contributors</b></p>
					</div>
					<div class="w3-rest w3-right-align">
					    <div><i class="material-icons" style="color:grey;"> list </i></div>
					</div>
				</div>
				<div class="w3-col w3-center-align w3-padding" style="background-color:white;">
				 	<div class="w3-row w3-margin-bottom">
					  	<div class="w3-col"  style="width:15%">
					   		<img class="w3-circle" src="./public/Images/garcia5.jpg" width="100%">
					  	</div>
					  	<div class="w3-col w3-container w3-cell w3-cell-middle" style="width:50%">
					    	<div><b>Terry Nelson</b> </div>
					    	<div> 23 blogs </div>
					  	</div>
					  	<div class="w3-col w3-cell w3-cell-middle"  style="width:30%">
					   		<button class="Followbutton" type="button">+ Follow</button>
					  	</div>
					</div>
					<div class="w3-row w3-margin-bottom">
					  	<div class="w3-col"  style="width:15%">
					   		<img class="w3-circle" src="./public/Images/garcia5.jpg" width="100%">
					  	</div>
					  	<div class="w3-col w3-container w3-cell w3-cell-middle" style="width:50%">
					    	<div><b>Terry Nelson</b> </div>
					    	<div> 23 blogs </div>
					  	</div>
					  	<div class="w3-col w3-cell w3-cell-middle"  style="width:30%">
					   		<button class="Followbutton" type="button">+ Follow</button>
					  	</div>
					</div>
					<div class="w3-row">
					  	<div class="w3-col"  style="width:15%">
					   		<img class="w3-circle" src="./public/Images/garcia5.jpg" width="100%">
					  	</div>
					  	<div class="w3-col w3-container w3-cell w3-cell-middle" style="width:50%">
					    	<div><b>Terry Nelson</b> </div>
					    	<div> 23 blogs </div>
					  	</div>
					  	<div class="w3-col w3-cell w3-cell-middle"  style="width:30%">
					   		<button class="Followbutton" type="button">+ Follow</button>
					  	</div>
					</div>
				</div>
			</div>
			<div class="w3-row w3-margin-bottom w3-padding" style="border: 1px solid #e0e0e0; background-color: white;">
				<div>
					<div class="w3-col"  style="width:80%">
					   	<p style="font-size:15px;color:#3cb371;color:DodgerBlue"><b># Trending Topics</b></p>
					</div>
					<div class="w3-rest w3-right-align">
					    <div><i class="material-icons" style="color:grey;"> list </i></div>
					</div>
				</div>
				<div class="w3-col w3-center-align w3-padding" style="background-color:white;">
				 	<div class="w3-row w3-margin-bottom">
					  	<div class="w3-col"  style="width:15%">
					   		<img class="w3-circle" src="./public/Images/garcia5.jpg" width="100%">
					  	</div>
					  	<div class="w3-col w3-container w3-cell w3-cell-middle" style="width:50%">
					    	<div><b># Python</b> </div>
					    	<div> 23 blogs </div>
					  	</div>
					  	<div class="w3-col w3-cell w3-cell-middle"  style="width:30%">
					   		<button class="Followbutton" type="button">+ Follow</button>
					  	</div>
					</div>
					<div class="w3-row w3-margin-bottom">
					  	<div class="w3-col"  style="width:15%">
					   		<img class="w3-circle" src="./public/Images/garcia5.jpg" width="100%">
					  	</div>
					  	<div class="w3-col w3-container w3-cell w3-cell-middle" style="width:50%">
					    	<div><b># Lighting</b> </div>
					    	<div> 23 blogs </div>
					  	</div>
					  	<div class="w3-col w3-cell w3-cell-middle"  style="width:30%">
					   		<button class="Followbutton" type="button">+ Follow</button>
					  	</div>
					</div>
					<div class="w3-row">
					  	<div class="w3-col"  style="width:15%">
					   		<img class="w3-circle" src="./public/Images/garcia5.jpg" width="100%">
					  	</div>
					  	<div class="w3-col w3-container w3-cell w3-cell-middle" style="width:50%">
					    	<div><b># JQuery</b> </div>
					    	<div> 23 blogs </div>
					  	</div>
					  	<div class="w3-col w3-cell w3-cell-middle"  style="width:30%">
					   		<button class="Followbutton" type="button">+ Follow</button>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
      
</body>