
		.button {
			background-color: #4CAF50; /* Green */
			border: none;
			color: #4b7bec;
			padding: 5px 21px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 2px 1px;
			border-radius: 5px;
			-webkit-transition-duration: 0.1s; /* Safari */
			transition-duration: 0.1s;
			cursor: pointer;
		}
		.button:focus {
			outline:0;
			
		     cursor: pointer;
		}
		.w3-Nunito {
			font-family: "Nunito", sans;
		}
		.button1 {
			background-color: #4b7bec;
			color: white;
			border: 2px solid #4b7bec;
		}
		.button1:focus {
			outline:0;
			
		     cursor: pointer;
		}

		.button1:hover {
			background-color: white; 
			color: #4b7bec; 
					outline: none;
		}
		.button_Inactive {
			background-color: white;
			color: #a5b1c2;
			border: 2px solid #a5b1c2;
			outline: none;
		}

		.button_Inactive:hover {
			background-color: #a5b1c2; 
			color: white; 
			outline: none;
		}
		.button_active {
			background-color: white;
			color: #a5b1c2;
			border: 2px solid #a5b1c2;
			outline: none;
		}

		.button_active:hover {
			background-color: #a5b1c2; 
			color: white; 
			outline: none;
		}
		.button2{
			background:none!important;
		     color:inherit;
		     border:none; 
		    
		     font: inherit;
		     /*border is optional*/
		     border-bottom:0px solid lightgray; 
		  
		     cursor: pointer;
		}
		.button2:focus {
			outline:0;
			
		     cursor: pointer;
		}
				
		button2:active {
		outline: none;
		border: none;
		}
		
	html, body {
        height: 100%;
        margin: 0px;
    }

    .container_body {
        height: 100%;
        background: #f0e68c;
    }

/* The container */
.container_checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container_checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

